body  { 
   font-family: poppins;
  
 }


 /*header*/
   .nav-header {
    background-color: #fff !important;
    box-shadow: 0 5px 15px rgba(0,0,0,.09);
    margin: 4px 14px !important;
   
  }

  .nav-menu li a:link,li a:visited{
    color:black;
    
  }
  .nav-menu li a:hover, li a:active {
    color: #f6922d;
  }
  

  .img{
  width: 137px;
}
 
 .slider-title{
    color:#000 !important;
    font-size:40px !important;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 26px; 
    font-family: poppins !important;

 }
.menu-list{
  line-height: 30px;
    text-align: center;
   background-color: #f6922d;
   
}
.nav-slider {
  margin: 56px 0px;
    margin-left: 71px;
}
.mobile-navbutton{
  display:none;
}
.font-text{
  color: #666;
}

.top-bar{
  margin: 0px 35px;

}
.nav-social{
margin-right: 49px;
}
.mobile-nav{
  margin-left: 192px;
}
.about-para{
margin-top: -65px;
}
  /*header end*/
.sub-button{
  color: #fff;
    background-color: #ff7600;
    border-color: #ff7600;
    font-weight: bolder !important;
}

.sub-button:hover{
  color: #222;
    background-color: transparent;
    border-color: #ff7600;
}
  /* footer*/

.footerbox{
    margin-top:70px;
    font-size: 15px;
    color:#5f615f;

}
.footermenu{
    margin-top:70px;
    font-size: 15px;
    color:#323333;
    text-decoration: none;
}
.footermenu a:hover{
    color:#5f615f;
    text-decoration: none;
}


.menu_list a{
  text-decoration: none;
  color:#444444; 
  font-size:14px;
  font-family:'Poppins';
}

.menu_list a:hover{
  color: black;

}
.text{
  font-size:14px;
  font-family:'Poppins';
  
}
.contact_text{
  font-size:16px;
font-family:'Poppins';
}

/*blog section  */
.nav-icon a:hover{
  color: #f6922d !important;
}
.nav-icon{
  line-height: 31px;
  color: #b4b4b4;
}

/*Count Section */

.price-tag:hover {
  background-color:#000;
  
}
.price{
background: #f6f6f6;

}
.price:hover{
  background :#000;
  
}
.stat-box{
  color:#fff;
}

/* font icons*/
.icon-tag{
  margin-top:40px;
 /* padding-bottom: 16px;*/
  
}
.icon-tag h5{
font-family:'Poppins' !important;
}
.icon-tag:hover > h4{
  color:#f6922d;
}

.icon-tag:hover > h2{
  color:#fff;
}

.icon-tag:hover > h5{
  color:#fff;
  
}
.stroke-transparent {
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
 }
 .fa-gamepad {
  color: white;
  font-size: 1.5em;
}
.fa-cog{
  color: white;
  font-size: 1.5em; 
}
.fa-paper-plane-o{
  color: white;
  font-size: 1.5em; 
}
/******************resources page css*******************/
.resources_mainhead{
  font-size: 70px;
  font-weight: 900;
  font-family: 'Poppins';
  color:#1C1C1C;
}
.resource_first{
  font-size:22px; 
color:#1C1C1C;
}



.resource-tag{
  background-color: rgb(90, 134, 62);
  margin: 8px;
  padding-bottom: 85px !important;
}
.res-title{
  font-size: 27px;
  color: #fff;
  font-family: 'Poppins' !important;
  padding-top: 90px;
}
.resource-tag1{
  background-color: rgb(23, 99, 76);
  margin: 8px;
  padding-bottom: 85px !important;
}
.btns{
    color: #ffff;
    background-color: #5a863e;
    border: 2px solid #ffffff;
    font-size: 16px;
    border-radius: 23px;
}
.btns1{
  color: #ffff;
    background-color: #25634c;
    border: 2px solid #ffffff;
    font-size: 16px;
    border-radius: 23px;
}
/*career css*/
.mobile_img{ 
  height:500px;
  width:260px;
}
.section2_heading{
  font-family:'Poppins';
  font-size:26px;
  font-weight:bold  !important ;
  color:#333333;
}
.section2_para{
  font-family:'Poppins';
  font-size:16px;
  color:#777777;
 
}

.section2_subpara{
  font-family:'Poppins';
  font-size:14px;
  color:#999999;
}

.section2_subheading{
  font-family:'Poppins';
  font-size:16px;
  color:#333333;
  font-weight: bold !important ;
}

.btn{
  color:#FE9603;
  background-color: white;  
  border: 1px solid #FE9603;
  font-size: 12px;
  border-radius: 3px;
  padding:8px ;
}

.mainheading{
  color:#1D1D1D;
  font-size:50px;
  font-family:'Poppins';
}

.heading{
  color:#1D1D1D;
  font-size:20px;
  font-family:'Poppins';
}

.para{
  color:#1D1D1D;
  font-size:16px;
  font-family:'Poppins';
}

.mainpara{
  color:#1D1D1D;
  font-size:20px;
  font-family:'Poppins';
}




/* media query */


@media screen and (max-width: 899px) and (min-width:400px){
body{
  width:100%;
}
  .nav-header{
    box-shadow: none !important;
  }
  .mobile-nav{
    display:none;
  }
  .logo-img{
    margin: auto;
    padding-right: 75px;
  }
  .mobile-navbutton{
  background: no-repeat;
    border: black;
    margin: 28px 14px;
  }
  .top-bar{
    display:none;
 }
 .img {
  width: 125px;
}
.menu-toggle{
  width:39px;
}
.slider-title{
  font-size: 29px !important;
  color: #000 !important;
  line-height: 1.3;
    font-weight: 700;
    margin-bottom: 26px;
    font-family: poppins !important;
}
.nav-slider {
 margin: 0px 0px;
}
.uk-sticky-fixed{
  left: -13px !important;
  position: fixed !important;
  top: -13px !important;
  width: 100% !important;
 }
}
@media screen and (max-width: 900px){
 body{
   width:100%;
 }
    .menu-toggle{
    height: 10px;
    width: 58px;
    }
  .mobile-navbutton
    {
      display: block;
    }
    
    .nav-header{
      box-shadow: none !important;
    }
    .mobile-nav{
      display:none;
    }
    .logo-img {
    margin: auto;
    padding-right: 261px;
}
    .mobile-navbutton{
    background: no-repeat;
      border: black;
      margin: 30px 13px;
    }
    .top-bar{
      display:none;
   }
   .img {
    width: 135px;
    margin-left: 1px;
  }
  .nav-slider {
    margin: 61px 0px;
    }
  .slider-title{
    font-size: 32px !important;
    color: #000 !important;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 26px;
    font-family: poppins !important;
    }
  }
  @media screen and (max-width:959px){
    .img {
      width: 135px;
      margin-left: -9px;
  }
  } 
  @media screen and (max-width:990px){
body{
  width:100%;;
}
    .nav-header{
      box-shadow: none !important;
    }
    
    .nav-menu{
      display: none;
    }
    .nav-social{
      margin: auto;
    }
    .mobile-navbutton{
      background: no-repeat;
        border: black;
        margin: 28px 14px;
      }
      .nav-header{
        box-shadow: none !important;
      }
      .top-bar{
        display:none;
     }
    .logo-img{
      margin: auto;
      padding-right: 75px;
    }
    .mobile-nav{
      display:none;
    }
    .img {
      width: 135px;
    margin-left: 0px;
    }
    .nav-slider {
    margin: 32px 0px;
  }
  .uk-sticky-fixed{
    left: -13px !important;
    position: fixed !important;
    top: -13px !important;
    width: 100% !important;
   }
  }
  
  @media screen and (min-width:977px){

    width: 135px;
    margin-left: 283px;
  }

  @media screen and (min-width:1050px){
    .img {
      width: 160px;
      margin-left: -55px;
  }  
  .logo-img{
    width: 274px;
   }
   .uk-sticky-fixed{
    left: 0px !important;
    position: fixed !important;
    top: -5px !important;
    width: 100% !important;
   }
   /*.uk-sticky-fixed .nav-menu{
   margin-left: 158px;
  }*/
.mobile-nav{
  margin-left: -66px;

}
}

@media screen and (max-width:1049px)and (min-width:900px){
 body{
   width:100%;
 }
.nav-header{
  box-shadow: none !important;
}
.mobile-navbutton
  {
    display: block;
  }
  
.nav-menu{
  display: none;
}
.nav-social{
  margin: auto;
}
.menu-toggle{
  height: 10px;
  width: 58px;
  }
.mobile-navbutton{
  background: no-repeat;
    border: black;
    margin: 35px 14px;
  }
  .nav-header{
    box-shadow: none !important;
  }
  .top-bar{
    display:none;
 }
.logo-img{
  margin: auto;
  padding-right: 75px;
}
.mobile-nav{
  display:none;
}
.img {
  width: 135px;
  margin-left: 317px;
}
.nav-slider {
margin: 35px 0px;
}
.slider-title {
color: #000 !important;
    font-size: 35px !important;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 26px;
    font-family: poppins !important;
}
.uk-sticky-fixed{
  left: 0px !important;
  position: fixed !important;
  top: -11px !important;
  width: 100% !important;
 }

 .uk-sticky-fixed .img{
  width: 140px;
  margin-left: 331px;
 }
}

@media screen and (max-width:359px) and (min-width:300px){
  body{
    width:100%;
  }
      .top-bar{
        display:none;
     }
     .mobile-navbutton{
      background: no-repeat;
        border: black;
        margin: 26px -18px !important;
      }
     .nav-social{
       margin: auto;
     }
     
     
     .img {
      width: 122px;
    margin-left: 36px;
      
    }
    .nav-slider {
      margin: 17px -2px !important;
    }
    .slider-title{
    color: #000 !important;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 26px;
    font-family: poppins !important;
    font-size: 26px !important;
    
    }
    .menu-toggle{
      height: 10px;
      width: 3px;
      
    
      }
      .uk-sticky-fixed .menu-toggle{
        margin-left: 10px;
      }

      .uk-sticky-fixed{
        left: -15px !important;
        position: fixed !important;
        top: -15px !important;
        width: 100% !important;
       }
    }
    
    @media screen and (max-width:399px) and (min-width:360px){
      body{
        width:100%;
      }
      
       .top-bar{
         display:none;
      }
      .mobile-navbutton{
       background: no-repeat;
         border: black;
         margin: 28px 14px;
       }
      .nav-social{
        margin: auto;
      }
      
      /*.logo-img{
        margin: -4px 23px;
      }*/
      .img {
        width: 120px;
     }
     .nav-slider {
       margin: 10px 0px !important;
     }
     .slider-title{
       font-size: 27px !important;
       color: #000 !important;
       line-height: 1.3;
         font-weight: 700;
         margin-bottom: 26px;
         font-family: poppins !important;
     }
     .menu-toggle{
      height: 10px;
      width: 58px;
      }

      .uk-sticky-fixed .img {
        width: 120px;
        margin-left: -21px;
    }

    .uk-sticky-fixed .menu-toggle {
       margin-left: -34px;
  }
      .uk-sticky-fixed{
        left: 0px !important;
        position: fixed !important;
        top: -16px !important;
        width: 100% !important;
       }
     }
     
    

