body  { 
   font-family: poppins;
   /*-size: 16px;*/
  
 }


 /*header*/
   .nav-header {
    background-color: #fff !important;
   /* padding: 5px 37px !important; */
   box-shadow: 0 5px 15px rgba(0,0,0,.09);
    //margin: 4px 14px !important;
  }

  .nav-menu li a:link,li a:visited{
    color:black;
    
  }
  .nav-menu li a:hover, li a:active {
    color: #f6922d;
  }

  .img{
  width: 162px;
}
 
 .slider-title{
    color:#000 !important;
    font-size:40px !important;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 26px; 
    font-family: poppins !important;

 }
.menu-list{
  line-height: 30px;
    text-align: center;
   background-color: #f6922d;
}
.nav-slider {
  margin: 56px 0px;
    margin-left: 71px;
}
.mobile-navbutton{
  display:none;
}
.font-text{
  color: #666;
}

.top-bar{
  margin: 0px 35px;

}
.nav-social{
margin-right: 49px;
}
  /*header end*/

  /* footer*/

.footerbox{
    margin-top:70px;
    font-size: 15px;
    color:#5f615f;

}
.footermenu{
    margin-top:70px;
    font-size: 15px;
    color:#323333;
    text-decoration: none;
}
.footermenu a:hover{
    color:#5f615f;
    text-decoration: none;
}


.menu_list a{
  text-decoration: none;
  color:#444444; 
  font-size:14px;
  font-family:'Poppins';
}

.menu_list a:hover{
  color: black;

}
.text{
  font-size:14px;
  font-family:'Poppins';
  
}
.contact_text{
  font-size:16px;
font-family:'Poppins';
}

/*blog section  */
.nav-icon a:hover{
  color: #f6922d !important;
}
.nav-icon{
  line-height: 31px;
  color: #b4b4b4;
}

/*price */

.price-tag:hover{
  background :#000;
  color:#fff;
}
.price{
background: #f6f6f6;
}
.price:hover{
  background :#000;
  color:#fff; 
}
.stat-box{
  color:#fff;
}
/*  career css*/
.mobile_img{ 
  height:500px;
  width:260px;
}
.section2_heading{
  font-family:'Poppins';
  font-size:26px;
  font-weight:bold  !important ;
  color:#333333;
}
.section2_para{
  font-family:'Poppins';
  font-size:16px;
  color:#777777;
 
}

.section2_subpara{
  font-family:'Poppins';
  font-size:14px;
  color:#999999;
}

.section2_subheading{
  font-family:'Poppins';
  font-size:16px;
  color:#333333;
  font-weight: bold !important ;
}

.btn{
  color:#FE9603;
  background-color: white;  
  border: 1px solid #FE9603;
  font-size: 12px;
  border-radius: 3px;
  padding:8px ;
}

.mainheading{
  color:#1D1D1D;
  font-size:50px;
  font-family:'Poppins';
}

.heading{
  color:#1D1D1D;
  font-size:20px;
  font-family:'Poppins';
}

.para{
  color:#1D1D1D;
  font-size:16px;
  font-family:'Poppins';
}

.mainpara{
  color:#1D1D1D;
  font-size:20px;
  font-family:'Poppins';
}




/* media query */
@media screen and (max-width:359px) and (min-width:300px){
  
      .top-bar{
        display:none;
     }
     .mobile-navbutton{
      background: no-repeat;
        border: black;
        margin: 31px -30px !important;
      }
     .nav-social{
       margin: auto;
     }
     
     /*.logo-img{
       margin: -1px 3px;
     }*/
     .img {
       width: 120px;
      
    margin-left: 30px;
    }
    .nav-slider {
      margin: 7px 0px !important;
    }
    .slider-title{
      font-size: 23px !important;
    }
    
    }
@media screen and (max-width:399px) and (min-width:360px){
  .top-bar{
    display:none;
 }
 .mobile-navbutton{
  background: no-repeat;
    border: black;
    margin: 28px 14px;
  }
 .nav-social{
   margin: auto;
 }
 
 /*.logo-img{
   margin: -4px 23px;
 }*/
 .img {
   width: 120px;
}
.nav-slider {
  margin: 10px 0px !important;
}
.slider-title{
  font-size: 25px !important;
}

}

@media screen and (max-width: 899px) and (min-width:400px){

  .nav-header{
    box-shadow: none !important;
  }
  .mobile-nav{
    display:none;
  }
  .logo-img{
    margin: auto;
    padding-right: 75px;
  }
  .mobile-navbutton{
  background: no-repeat;
    border: black;
    margin: 28px 14px;
  }
  .top-bar{
    display:none;
 }
 .img {
  width: 130px;
}
/*.nav-slider {
  margin: 32px 0px;
}*/
}
@media screen and (max-width: 900px){
 
  .mobile-navbutton
    {
      display: block;
    }
    
    .nav-header{
      box-shadow: none !important;
    }
    .mobile-nav{
      display:none;
    }
    .logo-img{
      margin: auto;
      padding-right: 75px;
    }
    .mobile-navbutton{
    background: no-repeat;
      border: black;
      margin: 28px 14px;
    }
    .top-bar{
      display:none;
   }
   .img {
    width: 130px;
  }
  .nav-slider {
    margin: 32px 0px;
  }
  .slider-title{
    font-size: 32px !important;
    }
  }
  @media screen and (max-width:990px){

    .nav-header{
      box-shadow: none !important;
    }
    
    .nav-menu{
      display: none;
    }
    .nav-social{
      margin: auto;
    }
    .mobile-navbutton{
      background: no-repeat;
        border: black;
        margin: 28px 14px;
      }
      .nav-header{
        box-shadow: none !important;
      }
      .top-bar{
        display:none;
     }
    .logo-img{
      margin: auto;
      padding-right: 75px;
    }
    .mobile-nav{
      display:none;
    }
    .img {
      width: 135px;
    }
    .nav-slider {
    margin: 32px 0px;
  }
  }
@media screen and (max-width:1049px)and (min-width:900px){

.nav-header{
  box-shadow: none !important;
}
.mobile-navbutton
  {
    display: block;
  }
  
.nav-menu{
  display: none;
}
.nav-social{
  margin: auto;
}
.mobile-navbutton{
  background: no-repeat;
    border: black;
    margin: 28px 14px;
  }
  .nav-header{
    box-shadow: none !important;
  }
  .top-bar{
    display:none;
 }
.logo-img{
  margin: auto;
  padding-right: 75px;
}
.mobile-nav{
  display:none;
}
.img {
  width: 135px;
}
.nav-slider {
margin: 32px 0px;
}
}


