/*header*/

.nav-header {
    background-color: #fff !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .09);
    margin: 4px 14px !important;
  }
  
  .nav-menu li a:link,
  li a:visited {
    color: black;
  }
  
  .nav-menu li a:hover,
  li a:active {
    color: #f6922d;
  }
  
  .image {
    width: 132px;
  }
  
  .drop-menu {
    text-align: center;
    margin-left: -13px;
  }
  
  .sub-menu {
    margin-top: 21px;
    color: #222;
    background-color: #fff;
    position: relative !important;
  }
  
  .sub-menu:hover {
    color: #f6922d;
  }
  
  .drop-navbar {
    position: absolute;
    width: 190px;
    background-color: #fff;
    box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05);
    border: 1px solid #eee;
    border-top: 2px solid #f6922d;
    height: auto;
    z-index: 199;
    top: 100% !important;
    left: 0;
    margin: 0;
  }
  
  _:-ms-fullscreen,
  :root .nav-menu>li>a {
    display: inline;
    line-height: 80px;
    vertical-align: middle;
  }
  
  /*header end*/
  @media screen and (max-width: 899px) and (min-width:400px) {
    /* header*/
    .nav-header {
        box-shadow: none !important;
    }
    .mobile-navbutton {
        background: no-repeat;
        border: black;
        margin: 28px 14px;
    }
    .menu-toggle {
        margin-left: -27px;
    }
    .logo-img {
        margin: auto;
        padding-right: 37px !important;
    }
}
    /*header end*/

    @media screen and (max-width:959px)and (min-width:900px) {
        /*header*/
        .img {
            width: 152px !important;
            margin-left: 133px !important;
        }
        .logo-img {
            margin: auto !important;
            padding-right: 147px !important;
        }
        .menu-toggle {
            height: 10px !important;
            /* width: 58px; */
            margin-left: -49px !important;
        }
    }
    @media screen and (max-width:990px) {
    /*header*/
  .nav-header {
    box-shadow: none !important;
}
.nav-menu {
    display: none;
}
.mobile-navbutton {
    background: no-repeat;
    border: black;
    margin: 28px 14px;
}
.nav-header {
    box-shadow: none !important;
}
/* .top-bar{
     display:none;
  } */
.logo-img {
    margin: auto;
    padding-right: 75px;
}
.mobile-nav {
    display: none;
}
.img {
    width: 135px;
    margin-left: 0px;
}
    }
/*header end*/
@media screen and (min-width:1050px) {
    /*header*/
    .img {
        width: 160px;
        margin-left: -55px;
    }
    #about_submenu {
        margin-left: -174px;
    }
    /*.logo-img{
     width: 274px;
    }*/
    .mobile-nav {
        margin-left: 222px;
    }
}
    /*header end*/

    @media screen and (min-width:1070px) {
        .mobile-nav {
            margin-left: 251px;
        }
      }

      @media screen and (max-width:1049px)and (min-width:900px) {
          /*header*/
  .nav-header {
    box-shadow: none !important;
}
.mobile-navbutton {
    display: block;
}
.nav-menu {
    display: none;
}
.nav-social {
    margin: auto;
}
.menu-toggle {
    /*new change*/
    height: 10px;
    /* width: 58px;*/
    margin-left: -49px;
}
.mobile-navbutton {
    background: no-repeat;
    border: black;
    margin: 35px 14px;
}
.nav-header {
    box-shadow: none !important;
}
/* .top-bar{
 display:none;
} */
.logo-img {
    margin: auto;
    padding-right: 75px;
}
.mobile-nav {
    display: none;
}
.img {
    width: 150px;
    margin-left: 64px;
}
      }
/*header end*/
@media screen and (max-width:359px) and (min-width:300px) {
    /*header*/
  .mobile-navbutton {
    background: no-repeat;
    border: black;
    margin: 26px -18px !important;
}
.logo-img {
    margin: auto;
    padding-right: 23px;
}
.img {
    /*change */
    /*width: 122px;*/
    margin-left: 21px;
}
.menu-toggle {
    margin-left: -4px;
}}
@media screen and (max-width:399px) and (min-width:360px) {
    /*header*/
  .menu-toggle {
    /*changes*/
    margin-left: -34px;
}
.logo-img {
    /*changes*/
    margin: auto;
    padding-right: 31px;
}
.mobile-navbutton {
    background: no-repeat;
    border: black;
    margin: 28px 14px;
}}
/*header end*/