@media (min-width: 1200px){
  .clear-padd{
   padding: 0px;
  }
  .bg-img{
    background: url('../images/background-bg-top.jpg') no-repeat -300px -160px;
    
  }
  .brand-logo{
    width: 131px;
    margin-left: 1px;
  }
  .nav-slider {
    margin: 79px 0px;
    margin-left: 20px;
  }
  .hero-section{
    min-height: 500px;
  }
  .uk-sticky-fixed{
    position: fixed !important;
    top: -4px !important;
    width: 100% !important;
    left: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) !important;
  }

  .uk-sticky-fixed .brand-logo{
    width: 132px;
    margin-left: 62px;
   
    
  }
  .nav-header {
    background-color: #fff !important;
    box-shadow: 0 5px 15px rgba(0,0,0,.09);
    margin: 4px 0px !important;
}
.mobile-nav{
  margin-left:auto;
}
.nav-menu{
  margin-left:auto;
  margin-right: 25px;
}

}
