

.footer{
    //border:2px solid red;
    margin:0px;
    background: url(../images/footer.svg) no-repeat top center; 
    background-size:cover; 
    height:155px;
    width:100%;
}

.footerbox{
    margin-top:70px;
    font-size: 15px;
    color:#5f615f;

}
.footermenu{
    margin-top:70px;
    font-size: 15px;
    color:#323333;
    text-decoration: none;
}
.footermenu a:hover{
    color:#5f615f;
    text-decoration: none;
}
.menu_list a{
    text-decoration: none;
    color:#444444; 
    font-size:14px;
    font-family:'Poppins';
  }
  
.menu_list a:hover{
    color: black;
  
  }

  .text{
    font-size:14px;
    font-family:'Poppins';
    //border:2px solid red;
  }

  .contact_text{
      font-size:16px;
    font-family:'Poppins';
  }

  .box{
    border:2px solid red;
    box-sizing: border-box;
  }

.mobile_img{
  height:500px;
  width:260px;
}
.section2_heading{
  font-family:'Poppins';
  font-size:26px;
  font-weight:900 !important;
  color:#333333;
}
.section2_para{
  font-family:'Poppins';
  font-size:16px;
  color:#777777;
 
}

.section2_subpara{
  font-family:'Poppins';
  font-size:14px;
  color:#999999;
}

.section2_subheading{
  font-family:'Poppins';
  font-size:16px;
  color:#333333;
  font-weight: bold !important ;
}

.btn{
  color:#FE9603;
  background-color: white;  
  border: 1px solid #FE9603;
  font-size: 12px;
  border-radius: 3px;
  padding:8px ;
}

.mainheading{
  color:#1D1D1D;
  font-size:50px;
  font-family:'Poppins';
}

.heading{
  color:#1D1D1D;
  font-size:20px;
  font-family:'Poppins';
}

.para{
  color:#1D1D1D;
  font-size:16px;
  font-family:'Poppins';
}

.mainpara{
  color:#1D1D1D;
  font-size:20px;
  font-family:'Poppins';
}

.career_btn_link{
  background-color:#FE9603;
  color:white;
  font-size:14px;
  font-family:'Poppins';
  border-radius: 3px;
  width:170px;
}

.career_btn_link a:link,a:visited{
  background-color:#FE9603;
 
}

.career_btn_link a:hover,a:active{
  background-color:rgba(254, 124, 3, 0.808);
  color:white;
}
  
/*.internship_link a:link,a:visited{
  color:rgb(5, 64, 109);
  font-size:14px;
  font-family:'Poppins';
}

.internship_link a:hover{
  text-decoration: underline;
  color:rgb(5, 64, 109);
  font-size:14px;
  font-family:'Poppins';
}

.career_heading{
  color:#FE9603;
  font-size:20px;
  font-family:'Poppins';
}

.career_para{
  color:#1D1D1D;
  font-size:14px;
  font-family:'Poppins';
}

.opening_heading{
  font-size:25px;
  font-family:'Poppins';
  color:black;
}

.openings_para{
  font-size:14px;
  font-family:'Poppins';
  color:black;
}

.apply_link a:link,a:visited{
  color:rgb(5, 64, 109);
}

.apply_link a:hover{
  text-decoration: underline;
  color:rgb(5, 64, 109);
}

.apply_icon{
  color:rgb(5, 64, 109);
}*/



.form{
  border-radius: 3px;
  border:1px solid #ced4da;
  width:280px;
}

.form_btn{
width:100%;
background-color:#FE9603;
color:white;
font-family: 'Poppins';
font-weight: bold;
}

.upload{
  border-radius: 3px;
  font-size: 13px;
  color:#555555;
  font-family: 'Poppins';
  font-weight: bold;
}

.form_field{
  font-size: 13px;
  color:#555555;
  font-family: 'Poppins';
  font-weight: bold;
}
.form_heading{
  color:#444444;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight:bold;
}

input[type="text"],input[type="email"]{
  border-radius: 3px;
  border:1px solid #ced4da;
}

.careersection_heading{
font-size:26px;
font-family: 'Poppins';
color:#333333;
}

.careersection_para{
font-size: 15px;
font-family: 'Poppins';
color:#555555;
}

.test_heading{
  font-size: 18px;
  color:#333333;
}

.test_para{
  font-size: 15px;
  color:#777777;
}
.transition{
 transition: all 0.25s ease 0s;
 transform: translate3d(-760px, 0px, 0px);
}

.more{
  color:black;
  border:2px solid white;
  background-color: white;
}
.more:hover{
  color:#FE9603;

}
.works_image img{
background-color:#555555 ;
}
.works_image img:hover{
  opacity:0.5;
}
.testi-img{
  float:none;
  margin:-55px auto 0;
  margin-bottom:20px;
 
}

.test_heading a:link, a:visited{
  color:black;
  text-decoration: none;
}

.test_heading a:hover, a:active{
  color:#FE9603;
  text-decoration: none;
}


