.uk-sticky-fixed{box-shadow:0 2px 5px rgba(0,0,0,.3)!important}
@media screen and (max-width:1199px){.hero-section{max-height:220px}.box2{margin-left:27px}.footer{background-color:#fe9603;opacity:.9;background-image:none}.services_mainheading{font-size:50px}.services_subheading{font-size:35px}.services_mainpara{font-size:18px}.career_homepage{background-image:none}.hide-icon{visibility:visible}.works_btn1{width:40%}.work_name_btn{background-color:#fff}.alt_desc{margin-left:30px}.contact_box{margin-left:30px}.career_box{box-shadow:none}.testi_box1{padding:0}.multi_box{margin:0;font-size:30px}
.csr_text{font-size:20px}.csr_text1{font-size:22px}.impact_text{font-size:15px}}
@media screen and (max-width:1112px) and (min-width:1112px){.box1{width:50%;background-color:#fff;margin-left:50px}.box2{width:43%}.csr_box{width:70%;padding-top:30px}.imp_box{width:50%}.img_csr1{float:right}.img_csr2{float:left}}
@media (min-width:1200px){.clear-padd{padding:0}.no-webp .bg-img{background:url(../images/background-bg-top.jpg) no-repeat -300px -160px}.webp .bg-img{background:url(../images/background-bg-top.webp) no-repeat -300px -160px}
.brand-logo{width:131px;margin-left:1px}.nav-slider{margin:79px 0;margin-left:20px}
.hero-section{min-height:500px}.uk-sticky-fixed{position:fixed!important;top:-4px!important;width:100%!important;left:1px;box-shadow:0 2px 5px rgba(0,0,0,.3)!important}
.uk-sticky-fixed .brand-logo{width:132px;margin-left:62px} 
.nav-header{background-color:#fff!important;box-shadow:0 5px 15px rgba(0,0,0,.09);margin:4px 0!important}.uk-sticky-fixed .drop-navbar{left:682px!important}
#about_submenu{margin-left:-132px}
.uk-sticky-fixed #about_submenu {margin-left: -59px;}
.mobile-nav{margin-left:auto}.nav-menu{margin-left:auto;margin-right:25px;position:inherit!important}.footer{background-image:url(../images/footer.svg)}.box1{margin-left:120px}.services_mainheading{font-size:70px}.services_mainpara{font-size:22px}.webp .career_homepage{background-image:url(../images/bg2.webp)}.no-webp .career_homepage{background-image:url(../images/bg2.jpg)}.form{width:280px}}
@media screen and (max-width:800px) and (min-width:768px){.box1{width:50%;background-color:#fff}.box2{width:42%}.bx1{text-align:left}.visible-icon{visibility:visible}.hide-icon{visibility:visible}.works_btn1{width:20%}.testi_box1{padding:70px}
.case_box2{padding-left:80px}.covid{padding:0}.covid_img{margin-top:70px}}
@media screen and (max-width:1024px) and (min-width:1024px){.box1{width:45%;background-color:#fff}.box2{width:45%}.career_box{margin-left:100px}.career_homepage{background-image:none}.works_btn1{width:15%}.testi_box1{padding:55px}
.form{width:280px}.covid_img{margin-top:20px}.csr_box{width:70%;padding-top:30px}.imp_box{width:50%}.img_csr1{float:right}.img_csr2{float:left}}
@media screen and (max-width:1280px) and (min-width:1280px){.imp_box{width:50%}.img_csr1{float:right}.img_csr2{float:left}}
@media screen and (max-width:375px){.case_box{padding:0;padding-top:20px}}
@media screen and (max-width:414px){.pad_rem{padding:0}}
@media (min-width: 1230px){
.uk-sticky-fixed #about_submenu {
    margin-left: -39px;
    
}#about_submenu {
    margin-left: -113px;
}}
@media (min-width: 1250px){
.uk-sticky-fixed #about_submenu {
    margin-left: -16px;
}}
@media (min-width: 1260px){
.uk-sticky-fixed #about_submenu {
    margin-left: -9px;
}}@media (min-width: 1280px){
.uk-sticky-fixed #about_submenu {
    margin-left: 12px;
}
#about_submenu {
    margin-left: -72px;
}}
@media (min-width:1300px){
    .uk-sticky-fixed #about_submenu {
        margin-left: 23px;
    }
}
@media (min-width: 1311px){
.uk-sticky-fixed #about_submenu {
    margin-left: 42px;
}}
@media (min-width: 1333px){
.uk-sticky-fixed #about_submenu {
    margin-left: 71px;
}
#about_submenu {
    margin-left: -54px;
}}
@media (min-width: 1600px){
.uk-sticky-fixed #about_submenu {
    margin-left: 319px;
}}
@media (min-width: 1603px){
.uk-sticky-fixed #about_submenu {
    margin-left: 333px;
}}

@media screen and (max-width:1198px) and (min-width:800px){
    .box1{
        width:45%;
    }
    .box2{
        width:40%;
    }
}

@media screen and (max-width:1198px) and (min-width:1198px){
    .box1{
        width:45%;
    }
    .box2{
        width:40%;
    }
}

@media screen and (max-width:1170px) and (min-width:300px){
    .skill{
        overflow: auto;
        height:60px;
    }
    .skill_outer .uk-subnav{
        flex-wrap: nowrap;
    }

    .skills_btn{
        border:1px solid #999999;
    }
    .skills_btn:hover{
        border: 1px solid #1C1C1C;
    }
    .active{
        border: 1px solid #1C1C1C;
    }
    li .uk-button{
        line-height:35px;
    }
}
