@media (min-width: 1200px){
  .clear-padd{
   padding: 0px;
  }
  body{
    background: url('../images/background-bg-top.jpg') no-repeat -300px -160px;
    
  }
  .brand-logo{
    width: 27%;
  }
  .nav-slider {
    margin: 79px 0px;
    margin-left: 20px;
  }
  .hero-section{
    min-height: 500px;
  }
  
}


